.skills {
  /* overflow: hidden; */
}

.skills h4 {
  text-align: center;
}

.skills p {
  padding-bottom: 20px;
}

.image {
  width: 100px;
  margin: 0 10px;
}

image:hover {
  transform: scale(1.5);
}

.slides {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
  position: relative;
}
.slides2 {
  overflow: hidden;
  padding: 30px 0;
  white-space: nowrap;
  position: relative;
}

.slide-container {
  animation: 30s slide infinite linear;
  display: inline-block;
}
.slide-container2 {
  animation: 30s slideRight infinite linear;
  display: inline-block;
}

.slides::before,
.slides::after {
  content: "";
  width: 70px;
  height: 100%;
  z-index: 100;
  position: absolute;
  top: 0;
}

.slides::before {
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #2c3435);
  left: 0;
}
.slides::after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #2c3435);
  right: 0;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}
